<!DOCTYPE html>
<html lang="en" class="IniciarSesionhtml"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
    <link rel="shortcut icon" href="../img/users-solid.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/iniciarSesion.css">
</head>
<body>

    <div class="div-form">
        <form action="" class="form-Sesion">
            <label for="">Número de Documento:</label>
            <input type="number">

            <label for="">Clave:</label>
            <input type="password" id="InputClave">

            <img src="../img/eye-regular.svg" alt="" class="visible-password">
            <img src="../img/eye-slash-regular.svg" alt="" class="invisible-password">
        </form>

        <button class="buttonIniciar buttoniniciar2">Iniciar</button>
        <button class="buttonSalir buttonsalir2">Salir</button>

        <a href="#" class="a-olvideclave">¿Olvide mi Clave para Iniciar Sesión?</a>
    </div>
    


    <script src="../js/IniciarSesion.js"></script>
</body>
</html>